.social-row {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	padding: 5px 10px;
}

.button {
	width: 80%;
	padding: 5px 10px;
	font-size: 25px;
	transition: background-color 0.5s;
}

.fb-icon {
	background-color: #4267b2;
}

.fb-btn {
	background-color: #4267b2;

	&:hover {
		background-color: #284680;
	}
}

.google-icon {
	background-color: #db4a39;
}

.google-btn {
	background-color: #db4a39;

	&:hover {
		background-color: #a92517;
	}
}

.github-icon {
	background-color: #171515;
}

.github-btn {
	background-color: #171515;

	&:hover {
		background-color: #464242;
	}
}
